body{
    background-image: url("../Images/image2.jpg");
    background-size: 1320px;
}
#navig{
        padding: 0.5em;
        background-color:rgba(12, 26, 39,0.3)
}
#navig ul li a{
    text-decoration: none;
    line-height:4em;
    color:#FFFFFF;
    padding: 2em;
    margin-left: 0em;
    margin-right: 0em;
    font-family: Purisa;
}
#navig ul li{
    list-style:none;
    display:inline;
}
#navig ul li{
    list-style:none;
    display:inline;
}
#navig ul li a:hover{
pointer-events:visibleStroke;
padding: 2em;
background-color: white;
font-family: Purisa;
color:#000000;

-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition : all 1s ease;

-webkit-border-radius: 0 40px 0px 40px;
border-radius: 0 40px 0px 40px;
}
body{margin: 0; position: relative;}
*{
	font-family: Purisa;
    font-weight: BOLD;
	color: #FFF;
}
ul li{
	font-size:15px;

}
#pop-up{
	position: relative;
	top: 200px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
#pop-up .container{
	background-color: rgba(22,22,22,0.5);
	padding: 30px;
	position: absolute;
	top: 50px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 40px 0 40px 0;
	border: 7px solid rgba(255,255,255,0.9);
}
#pop-up input{
	padding: 10px;
	border: 0;
	color: #fff;
	background: #333;
	margin-left: -5px;
	border-radius: 0 10px 10px 0;
	border: 1px solid #333;
	font-size: 18px;
}
button{
	padding: 10px;
	border: 0;
	color: #333;
	background: #FFF;
	margin-left: -5px;
	margin-left: -5px;
	border-radius: 0 10px 10px 0;
	font-size: 18px;
}
#pop-up{
	top: -400px;
	animation: drop 0.7s ease forwards;
}
@keyframes drop{
	0%{opacity: 0;}
	50%{ transform: translateY(450px)}
	70%{ transform: translateY(400px); opacity: 1;}
    80%{ transform: translateY(430px); opacity: 1;}
    90%{ transform: translateY(410px); opacity: 1;}
    100%{ transform: translateY(425px); opacity: 1;}
    

}
#footx{
    margin-top: 500px;
    background-color:rgba(12, 26, 39,0.9);
}
#footx center{
     color:rgb(255,255,255);
}
